{% extends "base.html" %}

{% block content %}
<section class="container" id="main">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">¿Es Admin?</th>
            </tr>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <th scope="row">{{u.id}}</th>
                <td>{{u.username}}</td>
                <td>{{u.first_name}} {{u.last_name}}</td>
                <td>{{u.email}}</td>
                {% if u.is_superuser %}
                    <td>Si</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</section>
{% endblock %}

